.Fresh {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
    margin: 60px auto; 
    padding: 40px 0;
}

.Fresh-gif{
    flex: 1;
    min-width: 0;

    /* Ép container này phải theo tỷ lệ 16:9 */
    aspect-ratio: 16 / 9;
    /* Ẩn đi các phần ảnh bị thừa ra ngoài */
    overflow: hidden;
    border-radius: 20px;
}

.Fresh-gif img {

    width: 100%;
    height: 100%;
    display: block; 
    
    /* Bảo ảnh tự co giãn để lấp đầy mà không bị méo */
    object-fit: cover;

}

.Fresh-content {
    /* Cho cột này cũng chiếm 1 phần (50%) */
    flex: 1; 
    position: relative; 
}

.Fresh-title {
    font-size: 5rem;
    /* Màu đỏ gạch từ thiết kế */
    color: #a64a3d; 
    margin-top: 0;
    margin-bottom: 30px;
    
    /* Đảm bảo tiêu đề nổi lên trên hình mờ */
    position: relative;
    z-index: 2;
}

/* 11. Đoạn văn P */
.Fresh-content p {
    font-size: 2rem;
    line-height: 1.6;
    color: #555;
    
    /* Đảm bảo chữ nổi lên trên hình mờ */
    position: relative;
    z-index: 2;
    max-width: 45rem;
    text-align: justify;
}

.Fresh-content p::before{

    content: '';

    background-image: url("/images/home/sponge-cake.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20vw; 
    height: 20vw; 
    opacity: 0.1; 
    z-index: 1; 
}

.banner-image-full {
    width: 100%;
    line-height: 0; 
}

.banner-image-full img {
    width: 100%;
    display: block;
    height: 25vw;
    object-fit: cover;
}

@media (max-width: 768px) {
    .Fresh {
        /* Chuyển 2 cột thành 2 hàng (xếp dọc) */
        flex-direction: column; 
        gap: 20px;
        margin: 30px;
        padding: 0;
    }
    
    .Fresh-content {
        /* Căn giữa chữ trên di động */
        text-align: center;
    }

    .Fresh-title {
        font-size: 2rem; /* Giảm cỡ chữ tiêu đề */
    }

    .Fresh-content p {
        font-size: 1.5rem;
    
    }

    /* Ẩn hình mờ trên di động cho đỡ rối */
    .Fresh-content::before {
        display: none;
    }
}