/* Chỉnh cỡ chữ HTML mặc định thành 10px */
html {
  font-size: 62.5%;
}

/* chỉnh lề để video không thừa mép trắng */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  
}
body {
  background-color: #FBF3E3;
  font-family: 'Overlock', cursive;
}

/* ----- PHẦN PRIMARY HEADER ----- */
/* thiết lập cho phần header */
#main-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* thiết lập video làm bg */
#header-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  z-index: -1 ;
}

/* font của brand */
.my-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* tên brand */
.brand {
  font-size: 36px;
  font-weight: bold;
  margin-top: -1rem;
  color: #ffffff;
  text-align: center;
}

/* danh sách menu */
.nav-links {
  display: flex; /* nằm ngang */
  justify-content: center;
  align-items: center;
  list-style: none; /* bỏ dấu chấm */
  gap: 30px;
  padding: 0;
  margin-top: -2rem;
}

/* mục */
.nav-links li {
  position: relative;
}

/* mấy cái mục */
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  padding: 8px 30px;
  position: relative;
}

/* gạch chân của link active */
.nav-links li a.active::after {
  content: '';
  position: absolute;
  bottom: 0; /* Đặt gạch chân ở đáy thẻ <a> (cách 8px so với chữ) */
  left: 30px;  /* Khớp với padding trái 30px */
  right: 30px; /* Khớp với padding phải 30px */
  height: 2px; /* Độ dày gạch chân */
  background-color: #ffffff; /* Màu trắng */
}

/* gạch ngăn cách */
.nav-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 25px;
  background-color: #999;
}
