/*=========================================
 ----- PHẦN STICKY HEADER ----- 
=========================================*/
/* menu ẩn */
#sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  z-index: 900;
}

/* ẩn header */
#sticky-header.hidden {
  opacity: 0;
  visibility: hidden;
}

/* hiện header */
#sticky-header.visible {
  opacity: 1;
  visibility: visible;
}

/* khung chứa header */
.nav-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* căn giữa tên */
.sub-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 15px;
}

/* thu hẹp trên dưới sub-brand */
.sub-brand h1.my-pacifico {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* 3 sọc bên phải */
.hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 35px;
}

/* làm mờ khi bật side menu*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

/* làm mờ được kích hoạt*/
.overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
/* Ẩn video trên thiết bị nhỏ */
  #main-header{
    display: none;
    
  
  }
  /* Luôn hiện sticky header trên mobile */
  #sticky-header,
  #sticky-header.hidden {
    opacity: 1;
    visibility: visible;
  }
  
  .sub-brand {
    font-size: 12px;
  }
}