/* ----- PHẦN HEADER ----- */
/* thiết lập cho phần header */
#main-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* font của brand */
.my-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* tên brand */
.brand {
  font-size: 36px;
  font-weight: bold;
  margin-top: -1rem;
  color: #ffffff;
  text-align: center;
}

/* danh sách menu */
.nav-links {
  display: flex; /* nằm ngang */
  justify-content: center;
  align-items: center;
  list-style: none; /* bỏ dấu chấm */
  gap: 30px;
  padding: 0;
  margin-top: -2rem;
}

/* mục */
.nav-links li {
  position: relative;
}

/* mấy cái mục */
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  padding: 8px 30px;
}

/* gạch ngăn cách */
.nav-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 25px;
  background-color: #999;
}