/* chỉnh lề đề video không thừa mép trắng */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ----- PHẦN PRIMARY HEADER ----- */
/* thiết lập cho phần header */
#main-header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* thiết lập video làm bg */
#header-video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  z-index: -1 ;
}

/* font của brand */
.my-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* tên brand */
.brand {
  font-size: 36px;
  font-weight: bold;
  margin-top: -1rem;
  color: #ffffff;
  text-align: center;
}

/* danh sách menu */
.nav-links {
  display: flex; /* nằm ngang */
  justify-content: center;
  align-items: center;
  list-style: none; /* bỏ dấu chấm */
  gap: 30px;
  padding: 0;
  margin-top: -2rem;
}

/* mục */
.nav-links li {
  position: relative;
}

/* mấy cái mục */
.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 26px;
  padding: 8px 30px;
}

/* gạch ngăn cách */
.nav-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 25px;
  background-color: #999;
}

/* ----- PHẦN STICKY HEADER ----- */
/* menu ẩn */
#sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease;
  z-index: 900;
}

/* ẩn header */
#sticky-header.hidden {
  opacity: 0;
  visibility: hidden;
}

/* hiện header */
#sticky-header.visible {
  opacity: 1;
  visibility: visible;
}

/* khung chứa header */
.nav-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* căn giữa tên */
.sub-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 30px;
}

/* thu hẹp trên dưới sub-brand */
.sub-brand h1.my-pacifico {
  margin-top: 5px;
  margin-bottom: 10px;
}

/* 3 sọc bên phải */
.hamburger {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 35px; 
}

/* làm mờ khi bật side menu*/
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 999;
}

/* làm mờ được kích hoạt*/
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ----- PHẦN SIDE MENU ----- */
/* menu trượt */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  
  width: 220px;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  margin-top: 35px;
  padding: 66px 0 15px 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

/* menu trượt được kích hoạt */
.side-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* nút đóng menu */
#closeBtn {
  position: absolute;
  right: 20px;
  font-size: 35px;
  top: 8px;
  font-weight: normal;
  color: #555;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 1;
}

/* des cái ul trong menu */
.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-menu ul li a {
  display: block;
  padding: 10px 15px; 
  text-decoration: none;
  color: #333;
  font-family: 'Times New Roman', Times, serif; 
  font-size: 24px;
}

.side-menu ul li a:hover {
  background-color: #f4f4f4;
  border-radius: 4px;
}