/*=========================================
----- KHỐI STORY ----- 
=========================================*/
#story {
  padding: 70px 20px;
  /* padding cho toàn bộ section */
  background-color: #FBF3E3;
  /* màu nền cho cả section */
}

/* cái khung chứa*/
.story-wrap {
  max-width: 1200px;
  margin: 0 auto;
  /* Căn giữa card */
  padding: 40px;
  background-color: #ffffff;
  border: 3px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  /* Căn giữa nội dung bên trong */
}

/* tiêu đề */
.story-title {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: #4C5332;
  font-weight: normal;
  margin-top: -5px;
}

/* thân của khối story */
.story-body {
  display: flex;
  align-items: flex-start;
  /* Văn bản bắt đầu từ cạnh trên của logo */
  gap: 70px;
  text-align: left;
}

/* khối logo */
.story-logo-box {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #D5C2AD;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* logo */
.story-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* nội dung */
.story-desc {
  margin-top: -7px;
  font-family: 'Overlock', cursive;
  font-size: 25px;
  line-height: 1.7;
  color: #333;
  flex-grow: 1;
}

/* responsive */
@media (max-width: 768px) {
  .story-body {
    flex-direction: column;
    text-align: center;
  }

  .story-logo-box {
    margin-bottom: 20px;
  }

  .story-quote {
    font-size: 28px;
  }
}
